
/*Media Querys:*/
@media (max-width: 840px) {
    main {
        margin: 0px; padding-top: 2em;
        padding-right: 1%;  padding-left: 1%;
        padding-bottom: 5em;
    }
    #mainTile{
        padding-left: 1%;
        padding-right: 1%;
    }
    .dynamicSideMargin {margin-right: 0%;  margin-left: 0%;}
    .dynamicWidth{width: 100%}
    .floatsUp{top:-4em;}
}
/*---*/
@media (min-width: 840px) {
    main{
        margin: 0px; padding-top: 2em;
        padding-right: 5%;  padding-left: 5%;
        padding-bottom: 5em;
    }
    #mainTile{
        padding-left: 3%;
        padding-right: 3%;
    }
    .dynamicSideMargin {margin-right: 5%;   margin-left: 5%;}
    .dynamicWidth{width: 90%}
    .floatsUp{top:-3em;}
}
/*---*/
@media (min-width: 1041px) {
    main {
        margin: 0px; padding-top: 2em;
        padding-right: 10%;  padding-left: 10%;
        padding-bottom: 5em;
    }
    #mainTile{
        padding-left: 4%;
        padding-right: 4%;
    }
    .dynamicSideMargin{margin-right: 10%;   margin-left: 10%;}
    .dynamicWidth{width: 80%}
    .floatsUp{top:-2em;}
}
/*---*/
@media (min-width: 1440px) {
    main {
        margin: 0px; padding-top: 2em;
        padding-right: 15%;  padding-left: 15%;
        padding-bottom: 5em;
    }
    #mainTile{
        padding-left: 5%;
        padding-right: 5%;
    }
    .dynamicSideMargin{  margin-right: 17%;   margin-left: 17%;}
    .dynamicWidth{width: 66%}
    .floatsUp{top:0em;}
}
/*---*/
@media (min-width: 2000px)
{
    .dynamicSideMargin{  margin-right: 25%;   margin-left: 25%;}
    .dynamicWidth{width: 50%}
}
/*---*/

/*Main css Formating:*/
body {
    background-color: black;
}

main
{
    margin: 0px; padding-top: 2em;
    padding-right: 0%;  padding-left: 0%;
    padding-bottom: 5em;}

.mainframe
{
    margin: 0px; padding-left: 0%; padding-right:0%; margin-top: 0%;
    background-repeat: no-repeat, repeat;
    background-size:     cover;
}

*
{margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial;}

/* Parallax base styles: */
/* ================== */
.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px; perspective-origin-x: 100%;
    perspective: 1px;
}
.parallax__layer {
    position: absolute;
    top: 0;
    bottom: 0;
}
.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.parallax__layer--back {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
}

/* main styles */
.parallax {
    width: 100%; padding-top:0; margin-top: 0;
}

/* added some padding to force scrollbars */
.parallax__layer {
    padding: 100vh 0; padding-top: 2.3em;  padding-bottom: 0em;
    width: 100%;
}

.parallaxBox
{margin-top: 25em; float: left; width:100%;
    padding: 10%;
}
/* ================== */

/* Navigation! */
#navTitel
{
    letter-spacing: 8px; font-family: Arial, sans-serif;
    color: black; min-height: 2.5em;
    margin-left:1%; margin-bottom: 0px; font-size:150%; line-height: 100%;
    text-transform: uppercase; background-color: white;
    padding-left: 3%; padding-bottom: 1em; padding-right: 0;
    padding-top: 0.2em;
    border-radius: 0px 0px 40px 0; float: left;
    border-left: 0.1em solid black; border-top: 0.1em solid black;
    margin-right: 0.1em; margin-top: 0.1em;
    box-shadow: 0 0 15px 2px black;
}

#navTile
{
    background-color: black;
    z-index:100; width: 100%;
    height: 5.0em;
    position: fixed;
    top:0px;
    margin:0;
    padding:0;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #031052 80%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000000 0%, #000b49 80%, #7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000000 0%, #000a38 80%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

#navContainer{float: left; width: 100%;}


#NavbarMenu
{
    position: absolute;
    right: 1em;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    width: 70%;
    max-width: 26em;
}

#NavbarList
{
    border-radius: 0.5em; width: 100%;
}

#NavbarList img
{
    width: 1.5em;
}

#NavbarList  a /*NavMenü Auswahl Elemnte*/
{
    width: 4em; height: 2em;
    border-radius: 0.75em; box-shadow: 3px 0px 4px 0px black;
    display: block;
    text-align: center;
    padding: 0.1em 0.325em 0.0em 0.17em;
    text-decoration: none;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 47%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 47%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 47%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    color: black;
    border: 0.1em solid black;
}

/*Hover Effekt im Navmenü -> Effekt auf einzelne Auswahlen...*/
#NavbarList  a:hover:not(.active)
{   background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 16%, #88e7ea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 16%,#88e7ea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 16%,#88e7ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#88e7ea',GradientType=0 ); /* IE6-9 */
    color: cyan;
    box-shadow: 0 0 10px 1px #ffdd00;
    /*border-radius: 20px;*/
}

#navi{width: 70%; float: left; position: fixed; margin-left: 0; left:0px;}


header img
{display: block;
    margin: auto;
    width: 60%;}

header
{padding-right:4em; padding-left:4em; padding-top: 0em; padding-bottom: 0em;}

header p {font-family: Brush Script Std, Brush Script MT, cursive;
    font-size: 40px; border-bottom: 2px solid black; }

#mainTile{
    margin-top: 12em;
    margin-bottom: 2em;
    padding-bottom:1em; padding-top: 2em;
    background: rgba(255, 255, 255, 0.3);}

/*Bootstrap correction:*/
.container{width: 100%;}

/*Main classes:*/
.cardBox
{
    box-shadow: 0 0 40px 3px #2e505f; border-radius: 4em;
    background-color: white;
}

.mainContentWrapper
{
    background-color: #00b9d3;  box-shadow: inset 0 0 55px 7px #00cdff; border-radius: 2.0em;
    margin-top: 2em; margin-bottom: 2em;
    padding-bottom:3.5em; padding-top: 2.25em;
    height: 100%;
    background: rgba(200, 200, 255, 0.3);
    text-align: center;
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}/*rgba(46, 80, 95, 0.3)*/

.mainContentWrapper code
{
    text-align: left;
}

.mainContentWrapper h1
{
    text-align: center;
    font-family: "sans-serif", cursive, serif;
}
.mainContentWrapper h2
{
    display: inline-block;
    text-align: center;
    font-family: "sans-serif", cursive, serif;
    border-bottom: 0.05em solid black;
    box-shadow:  0 0 0.1em 0.01em #000000;
    margin-bottom: 0.8em;
    padding: 0.2em 0.7em 0.2em 0.7em;  color: #00033d;
    text-align: center;
    letter-spacing: 2px;
    background-color: rgba(0, 185, 204, 0.5);
    border-radius: 0.8em;
}

.mainContentWrapper img
{
    padding: 0.5em;
    margin: 0.175em;
    border: 0.05em solid black;
    box-shadow: inset 0 0 3px 1px black;
    border-radius: 0.2em; color: black;
}/*rgba(46, 80, 95, 0.3)*/

.mainContentWrapper div
{
    margin-top: 0.33em; margin-bottom: 0.33em;
}
.mainContentWrapper img
{
    margin-top: 0.33em; margin-bottom: 0.33em;
}
.mainContentWrapper code
{
    margin-top: 0.33em; margin-bottom: 0.33em;
}

code
{
    padding: 0.5em;
    margin: 0.175em;
    border: 0.05em solid black;
    box-shadow: inset 0 0 3px 1px black;
    border-radius: 0.2em; color: black;
}

.contentBox
{
    background-color: rgb(217, 253, 255);  font-size: 1em;
    padding: 0.5em;
    margin-left: 0.175em;
    margin-right: 0.174em;
    margin-top: 0.175em;
    margin-bottom: 1em;

    border: 0.02em solid black;
    box-shadow: inset 0 0 3px 1px black;
    border-radius: 0.2em; color: black;
    height: 100%
}

.contentBox img
{
    border: 0 solid white; margin: 15px;
    box-shadow: 0 0 0 0 white; width:auto;
    float:right;
}

.contentBox p
{/*  border-bottom: 0.1em solid #2e505f;      */
    padding: 0.08em;
    margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0.2em;
    text-align: left;
    float: left;
}

.contentBox h3
{
    border-bottom: 0.1em solid black;
    box-shadow:  0 0 0.3em 0.07em #00033d;
    margin-bottom: 0.8em;
    padding: 0.1em; color: #00033d;
    text-align: center;
    letter-spacing: 2px;
    background-color: cyan; border-radius: 0.085em 0.085em 0 0;
}

.contentSegment {
    border: 5px solid cyan; margin: 0em;
    box-shadow: 0 0 5px 2px black;
}

.leftFloating{float: left; }
.rightFloating{float: right; }

.nightBox
{
    background-color: black;
    box-shadow: 0 0 40px 3px black;
    border-radius: 1em;
    border-left: 0.095em solid cyan;
    border-bottom: 0.075em solid cyan;
    border-top: 0px;
    padding-left: 0.2em;
}

video{width: 100%; height: auto;}

.topEarthGradient
{
    background-color: blue; z-index: 0; position: relative;

    padding-left: 0.0em;
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #00162d 92%, #3fbfda 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000000 0%, #00162d 92%, #3fbfda 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000000 0%, #00162d 92%, #3fbfda 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#74820a',GradientType=0 ); /* IE6-9 */
    text-align: center;
    border-radius: 0em 0em 2.5em 2.5em;
}

#Title
{background-color: #fdffe2;
    border-bottom: 0.1em solid black; border-top:0.1em solid black;
    border-left: 0.1em solid black; border-right: 0.1em solid black;
    padding: 0.1em;
    min-width: 500px; max-width: 600px; margin: auto;
    border-radius: 0.5em;
    text-align: center;
    box-shadow: 0 0 0.5em 0.2em #45c3d1;}

/*Page bottom:*/

footer
{color: white;
    background: #536b3d; /* Old browsers */
    background: -moz-linear-gradient(top, #536b3d 0%, #354927 5%, #000000 23%, #000000 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #536b3d 0%,#354927 5%,#000000 23%,#000000 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #536b3d 0%,#354927 5%,#000000 23%,#000000 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#536b3d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    padding-top:3em;
    padding-left:4em; padding-right:4em;
    padding-bottom: 6em;
    box-shadow:  0px -15px 170px 3px #00ffe5;
}

.footerBox
{
    padding-left: 0.5em;
    border-left: 2px solid white;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

footer .footerBox h4
{text-decoration: underline;
    text-indent: 5px;
    margin: 10px;
}

footer section
{
    border-left: 3px solid white;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    margin-bottom: 20px;
}

footer section h4 {
    text-decoration: underline;
    text-indent: 5px;
    margin: 10px;
}

footer a
{
    text-decoration: none;
    color: white;
}

footer li
{
    border-color:white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.2em;
}

footer li a:hover:not(.active)
{border-radius: 0.5em;
    background-color: #111;
    color: white;
}

footer ul
{
    color: white;
    margin-bottom: 0px;
    padding-left: 40px;
}

.content-box {margin-top:20px;}
.gaadiexp,
.gaadiexp:after,
.gaadiexp *,
.gaadiexp *:before,
.gaadiexp *:after,
.header-nav *,
.header-nav *:before,
.header-nav *:after {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.gaadiexp {
    cursor: pointer;
    height: 4.75em;
    margin-bottom: 0;
    margin-left: 0;
    width: 4.5em;
    border-radius: 0px 0px 40px 0px;
    padding-right: 20px;
    z-index: 9001;
    left: 0px;
    overflow: hidden;
    position: fixed;
    top: 1.5em;
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000f23 0%, #2b6aaf 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000f23 0%,#2b6aaf 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000f23 0%,#2b6aaf 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#5faf6c',GradientType=0 ); /* IE6-9 */
}

.gaadiexp:after {
    bottom: 7px;
    color: #FFFFFF;
    content: '';/*'Menu'*/
    font-size: 13px;
    font-weight: 300;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

/*--------------------------------------
 Creates the look of the gaadiexp icon
 using the inner span and pseudo-elements
--------------------------------------*/

.gaadiexp span,
.gaadiexp span:before,
.gaadiexp span:after {
    background: #FFFFFF;
    border-radius: 0.2em;
    height: 4px;
    left: 10px;
    position: absolute;
    top: 32px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    width: 40px;
}

/* Reset the left and create the pseudo-element */
.gaadiexp span:before,
.gaadiexp span:after {
    content: '';
    left: 0;
}

/* Top bar position */
.gaadiexp span:before {
    top: -8px;
}

/* Bottom bar position */

.gaadiexp span:after {
    top: 8px;
}

/* Get rid of more on action (IE9 or higher) */
.gaadiexp-check:checked + .gaadiexp:after {
    content: '';
}

/* Get rid of the middle bar on action (IE9 or higher) */
.gaadiexp-check:checked + .gaadiexp span {
    height: 0;
    width: 0;

}

/* Moves the top and bottom bars to the middle on action (IE9 or higher) */
.gaadiexp-check:checked + .gaadiexp span:before,
.gaadiexp-check:checked + .gaadiexp span:after {
    top: 6px;
}

/* Rotates the top bar on action with full browser support (IE9 or higher) */
.gaadiexp-check:checked + .gaadiexp span:before {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

/* Rotates the bottom bar on action with full browser support (IE9 or higher) */
.gaadiexp-check:checked + .gaadiexp span:after {
    -webkit-transform: rotate(-225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(-225deg);
}

#mobile-nav:focus + .gaadiexp,
.gaadiexp:focus,
.gaadiexp:hover {
    background: rgba(0, 136, 204, 0.9);
}

.gaadiexp-check:checked + .gaadiexp {
    width: 14em;
    min-width: 6em;
    top: 3em;
    border-radius: 0px 0px 6em 0em;
}

.gaadiexp-check:checked + .gaadiexp:after {
    bottom: 18px;
    content: 'Menu';
    font-size: 20px;
    padding-left: 30px;
}

#navi{width:50%; float:left;}

#mobile-nav {
    left: -9999px;
    position: fixed;
}

.header-nav ul li a:active,
.header-nav ul li a:focus,
.header-nav ul li a:hover,
#mobile-nav:focus + .gaadiexp,
.gaadiexp:focus,
.gaadiexp:hover {
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000f23 0%, #00af91 75%, #08aac9 93%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000f23 0%, #00af91 75%, #08aac9 93%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000f23 0%, #00af91 75%, #08aac9 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#95c996',GradientType=0 ); /* IE6-9 */
    outline: none;
    border-bottom: 0.3em solid #fff;
}

.side-nav{
    padding-top: 7em;
}

.fixed-nav {
    height: 2em;
    width: 100%;
    z-index: 9000;
    left: 0px;
}

.header-nav {
    float: left;
    height: 5em;
    position: absolute;
    width: 50%;
    left:0px;
}

.header-nav ul {
    background: #fff;
    height: calc(100vh - 60px);
    list-style: none;
    margin: 0;
    overflow-y: auto;
    padding: 10px 0 0 0;
    position: absolute;
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%);
    -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    width: 200px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.075);
    top: 115%;
    z-index: 1;
    left: -1px;
}

.gaadiexp-check:checked ~ .header-nav ul {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    left: -1px;
}

.header-nav ul li {
    float: left;
    position: relative;
    width: 100%;
}

.header-nav ul li a {
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.75px;
    line-height: 24px;
    margin-left: 0;
    overflow: hidden;
    padding: 12px 60px 12px 12px;
    position: relative;
    text-decoration: none;
    width: 100%;
}

.menu ul{background-color: black;}
.menu ul li{margin-top:0.5em; margin-bottom:0.5em; }

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 47.5%; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 47.5%; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 10px;
    border: 1px solid cyan;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: cyan;
}
