/*Media Querys:*/
@media (min-width: 0px) {
    .FancyLivingDocHeader { font-size:65%; margin: 0em 2.5em -3.2em 2.5em; }
}
@media (min-width: 275px) {
    .FancyLivingDocHeader { font-size:70%; margin: 0em 2.5em -2.9em 2.5em; }
}
@media (min-width: 300px) {
    .FancyLivingDocHeader { font-size:80%; margin: 0em 2.5em -2.5em 2.5em; }
}
@media (min-width: 420px) {
    .FancyLivingDocHeader { font-size:90%; margin: 0em 2.5em -2.3em 2.5em; }
}
@media (min-width: 600px) {
    .FancyLivingDocHeader { font-size:100%; margin: 0em 2.5em -2em 2.5em; }
}
@media (min-width: 840px) {
    .FancyLivingDocHeader { font-size:105%; margin: 0em 2.5em -2em 2.5em; }
}
@media (min-width: 1041px) {
    .FancyLivingDocHeader { font-size:110%; margin: 0em 2.5em -1.85em 2.5em; }
}
@media (min-width: 1440px) {
    .FancyLivingDocHeader { font-size:115%; margin: 0em 2.5em -1.8em 2.5em; }
}
@media (min-width: 2000px) {
    .FancyLivingDocHeader { font-size:120%; margin: 0em 2.5em -1.7em 2.5em; }
}

.CollapsibleField {
    cursor: pointer;
    padding: 10px;
    width: 100%;
}

.CollapsibleContent {
    padding: 5px 18px 0px 18px;
    display: none;
    overflow: hidden;
    background-color: #dde6e9;
    margin-bottom: 0.75em;
}

.ContentOption {
    background: linear-gradient(to bottom, rgba(1, 219, 255, 0.57) 0%, #37d9ff 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 2px;
    color: #000;
    text-decoration: none;
    transition: background-size .2s;
    cursor: pointer;
    border-radius: 0.1em;
    padding: 0.25em 0.65em 0.25em 0.65em;
    border:none;
    font-family: Arial, serif;
}
.ContentOption:hover {
    background-size: 4px 100%;
}

.ContentOptionSelected {
    background-size: 100% 100%;
    font-weight: bold;
    font-size: 103%;
}


table.DataTable {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #7EA8F8;
    border-style: solid;
    color: #000000;
}

table.DataTable td, table.DataTable th {
    border-width: 1px;
    border-color: lightgrey;
    border-style: solid;
    padding: 2px;
    text-align: center;
}

table.DataTable thead {
    background-color: #7EA8F8;
}


.arrow {
    display: inline-block;
    position: relative;
    top:0px;
    right: -47%;
    padding: 0px;
    content: '';
    width: 0;
    height: 0.45em;
    border: .75em solid transparent;
    border-left-color: #989bd3;
    margin: -0em;
}

.right {
    transform: rotate(0deg);
}

.left {
    transform: rotate(180deg);
}

.up {
    transform: rotate(-90deg);
}

.down {
    transform: rotate(90deg);
}

.arrow::before {
    transition: transform .25s;
}

.arrow.down::before {
    transition: transform .25s;
}


.arrow.right::before {
    transition: transform .25s;
}

.arrow.arrow.left::before {
    transition: transform .25s;
}

.arrow.up::before {
    transition: transform .25s;
}
