/*Media Querys:*/
@media (max-width: 840px) {
    main {
        margin: 0px;
        padding-top: 2em;
        padding-right: 1%;
        padding-left: 1%;
        padding-bottom: 5em;
    }

    #main_content_tile {
        padding-left: 1%;
        padding-right: 1%;
    }

    .DynamicSideMargin {
        margin-right: 0%;
        margin-left: 0%;
    }

    .DynamicWidth {
        width: 100%
    }

    .DynamicPillarWidth {
        width:100%;
        height: 0%;
        text-align: center;
    }

    .DynamicPillarWidth li{
        background-color: #00b9d3;
        background: #00b9d3; /* Old browsers */
        background: -moz-linear-gradient(   top, rgba(0,0,0,0) 0%, rgba(0, 185, 211, 1) 25%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0, 185, 211, 1) 25%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(  to bottom, rgba(0,0,0,0) 0%, rgba(0, 185, 211, 1) 25%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b9d3', endColorstr='#95c996', GradientType=0); /* IE6-9 */
        border-bottom-right-radius: 2em;
        font-size: 25px;
    }
}

/*---*/
@media (min-width: 840px) {
    main {
        margin: 0px;
        padding-top: 2em;
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 5em;
    }

    #main_content_tile {
        padding-left: 3%;
        padding-right: 3%;
    }

    .DynamicSideMargin {
        margin-right: 5%;
        margin-left: 5%;
    }

    .DynamicWidth {
        width: 90%
    }

    .DynamicPillarWidth {
        width:25%;
    }
}

/*---*/
@media (min-width: 1041px) {
    main {
        margin: 0px;
        padding-top: 2em;
        padding-right: 10%;
        padding-left: 10%;
        padding-bottom: 5em;
    }

    #main_content_tile {
        padding-left: 4%;
        padding-right: 4%;
    }

    .DynamicSideMargin {
        margin-right: 10%;
        margin-left: 10%;
    }

    .DynamicWidth {
        width: 80%
    }

    .DynamicPillarWidth {
        width:20%;
    }
}

/*---*/
@media (min-width: 1440px) {
    main {
        margin: 0px;
        padding-top: 2em;
        padding-right: 15%;
        padding-left: 15%;
        padding-bottom: 5em;
    }

    #main_content_tile {
        padding-left: 5%;
        padding-right: 5%;
    }

    .DynamicSideMargin {
        margin-right: 17%;
        margin-left: 17%;
    }

    .DynamicWidth {
        width: 66%
    }

    .DynamicPillarWidth {
        width:15%;
    }
}

/*---*/
@media (min-width: 2000px) {
    .DynamicSideMargin {
        margin-right: 25%;
        margin-left: 25%;
    }

    .DynamicWidth {
        width: 50%
    }
}

/*---*/

.FloatsUp {
    z-index : 100;
}

/*Main css Formating:*/
body {
    background-color: black;
}

main {
    margin: 0px;
    padding-top: 2em;
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 5em;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #00B4D2;
    height: 0.25em;
}

.MainFrame {
    margin: 0px;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 0%;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

* {
    margin: 0;
    /*padding: 0;*/
    box-sizing: border-box;
    font-family: Arial;
}

/* Parallax base styles: */
/* ================== */

.ParallaxLayer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.ParallaxLayer--back {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
}

/* main styles */
.Parallax {
    width: 100%;
    padding-top: 0;
    margin-top: 0;
}
.Parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective-origin-x: 100%;
    perspective: 1px;
}

/* added some padding to force scrollbars */
.ParallaxLayer {
    padding: 100vh 0;
    padding-top: 2.3em;
    padding-bottom: 0em;
    width: 100%;
}
.ParallaxLayer {
    position: absolute;
    top: 0;
    bottom: 0;
}

/* ================== */

#top_most_nav_bar {
    background-color: black;
    width: 100%;
    height: 5.0em;
    position: fixed;
    top: 0px;
    margin: 0;
    padding: 0;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #031052 80%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000000 0%, #000b49 80%, #7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000000 0%, #000a38 80%, #7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0); /* IE6-9 */
}

#navigation_container {
    float: left;
    width: 100%;
}


#navbar_menu {
    position: absolute;
    right: 1em;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    width: 70%;
    max-width: 26em;
}

#navbar_list {
    border-radius: 0.5em;
    width: 100%;
}

#navbar_list img {
    width: 1.5em;
}

#navbar_list a
{
    width: 4em;
    height: 2em;
    border-radius: 0.75em;
    box-shadow: 3px 0px 4px 0px black;
    display: block;
    text-align: center;
    padding: 0.1em 0.325em 0.0em 0.17em;
    text-decoration: none;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 47%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 47%, #7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%, #2989d8 47%, #7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0); /* IE6-9 */
    color: black;
    border: 0.1em solid black;
}

#navbar_list a:hover:not(.active) {
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 16%, #88e7ea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 16%, #88e7ea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%, #2989d8 16%, #88e7ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#88e7ea', GradientType=0); /* IE6-9 */
    color: cyan;
    box-shadow: 0 0 10px 1px #ffdd00;
    /*border-radius: 20px;*/
}

#navi {
    float: left;
    position: fixed;
    margin-left: 0;
    left: 0;
    top: 0;
}


header img {
    display: block;
    margin: auto;
    width: 60%;
}

header {
    padding-right: 4em;
    padding-left: 4em;
    padding-top: 0;
    padding-bottom: 0;
}

header p {
    font-family: Brush Script Std, Brush Script MT, cursive;
    font-size: 40px;
    border-bottom: 2px solid black;
}

#main_content_tile {
    margin-top: 12em;
    margin-bottom: 2em;
    padding-bottom: 1em;
    padding-top: 2em;
    background: rgba(255, 255, 255, 0.3);
}

/*--Tab-classes--*/

.TabWrapper {
}

.TabWrapper .TabHead{
    overflow: hidden;
    margin: 0 0.33em;
    font-size: 80%;
    border-bottom: 0.2em solid #00e6ff;
}

.TabWrapper .TabHead button{
    background-color: rgba(0, 255, 255, 0.2);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.3em 0.25em 0.3em 0.25em;
    margin: 0.35em 0.25em 0.35em 0.25em;
    transition: 0.3s;
    border-radius: 0.5555em;
}

.TabWrapper .TabHead .selected{
    background-color: #00e6ff;
    transition: 0.3s;
    border-radius: 0.33em 0.33em 0 0;
    padding: 0.35em 0.55em 0.7em 0.55em;
    margin: 0.35em 0.15em 0 0.15em;
}


.TabWrapper .TabHead button:hover{
    background-color: #00ff7b;
}

.TabWrapper .TabBody div{
}

/*---*/

/*Bootstrap correction:*/
.container {
    width: 100%;
}

/*Main classes:*/
.BrightCardBox {
    box-shadow: 0 0 40px 3px #2e505f;
    border-radius: 4em;
    background-color: white;
}

.MainContentWrapper {
    background-color: #00b9d3;
    box-shadow: inset 0 0 55px 7px #00cdff;
    border-radius: 2.0em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 3.5em;
    padding-top: 2.25em;
    height: 100%;
    background: rgba(200, 200, 255, 0.3);
    text-align: center;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.MainContentWrapper code {
    text-align: left;
}

.MainContentWrapper h1 {
    text-align: center;
    font-family: "sans-serif", cursive, serif;
}

.MainContentWrapper h2 {
    text-align: center;
    font-family: "sans-serif", cursive, serif;
    border-bottom: 0.05em solid black;
    box-shadow: 0 0 0.1em 0.01em #000000;
    margin-bottom: 0.8em;
    padding: 0.2em 0.7em 0.2em 0.7em;
    color: #00033d;
    letter-spacing: 2px;
    background-color: rgba(0, 185, 204, 0.5);
    border-radius: 0.8em;
}

.MainContentWrapper img {
    padding: 0.5em;
    margin: 0.175em;
    border: 0.05em solid black;
    box-shadow: inset 0 0 3px 1px black;
    border-radius: 0.2em;
    color: black;
}

.MainContentWrapper section {
    margin-top: 0.33em;
    margin-bottom: 0.33em;
}

.MainContentWrapper img {
    margin-top: 0.33em;
    margin-bottom: 0.33em;
}

.MainContentWrapper code {
    margin-top: 0.33em;
    margin-bottom: 0.33em;
}

code {
    padding: 0.5em;
    margin: 0.175em;
    border: 0.05em solid black;
    box-shadow: inset 0 0 3px 1px black;
    border-radius: 0.2em;
    color: black;
}

.ContentBox {
    background-color: rgb(217, 253, 255);
    font-size: 1em;
    padding: 0.5em;
    margin: 0.55em 0.175em 0.33em;

    border: 0.02em solid black;
    box-shadow: inset 0 0 3px 1px black;
    border-radius: 0.2em;
    color: black;
    display: inline-block;
    width: 100%;
    min-height: 85%;
    text-align:left;
}


.ContentBox img {
    border: 0 solid white;
    margin: 0.1em;
    box-shadow: 0 0 0 0 white;
    max-width: 100%;
    float: right;
}

.ContentBox p { /*  border-bottom: 0.1em solid #2e505f;      */
    padding: 0.08em;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.2em;
    text-align: left;
    float: left;
}

.ContentBox h3 {
    border-bottom: 0.1em solid black;
    box-shadow: 0 0 0.2em 0.02em #00033d;
    margin-bottom: 0.8em;
    padding: 0.1em;
    color: #00033d;
    text-align: center;
    letter-spacing: 2px;
    background-color: cyan;
    border-radius: 0.085em 0.085em 0 0;
}

.NightBox {
    background-color: black;
    box-shadow: 0 0 40px 3px black;
    border-radius: 1em;
    border-left: 0.095em solid cyan;
    border-bottom: 0.075em solid cyan;
    border-top: 0px;
    padding-left: 0.2em;
}

video {
    width: 100%;
    height: auto;
}

.TopBarGradient {
    background-color: blue;
    z-index: 0;
    position: relative;
    padding-left: 0.0em;
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #00162d 92%, #3fbfda 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000000 0%, #00162d 92%, #3fbfda 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000000 0%, #00162d 92%, #3fbfda 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#74820a', GradientType=0); /* IE6-9 */
    text-align: center;
    border-radius: 0em 0em 2.5em 2.5em;
}

.TopBarGradient h1 {
    color: #d2e9ff;
}


#Title {
    background-color: #fdffe2;
    border-bottom: 0.1em solid black;
    border-top: 0.1em solid black;
    border-left: 0.1em solid black;
    border-right: 0.1em solid black;
    padding: 0.1em;
    min-width: 500px;
    max-width: 600px;
    margin: auto;
    border-radius: 0.5em;
    text-align: center;
    box-shadow: 0 0 0.5em 0.2em #45c3d1;
}

/*Page bottom:*/

footer {
    color: white;
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #00aa88 0%, #364b3f 5%, #000000 20%, #000000 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #00aa88 0%, #364b3f 5%, #000000 20%, #000000 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #00aa88 0%, #364b3f 5%, #000000 20%, #000000 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#536b3d', endColorstr='#000000', GradientType=0); /* IE6-9 */
    padding-top: 3em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 6em;
    box-shadow: 0px -2px 20px 2px #00ffe5;
}

footer section {
    border-left: 3px solid white;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    margin-bottom: 20px;
}

footer section h4 {
    text-decoration: underline;
    text-indent: 5px;
    margin: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer li {
    border-color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.2em;
}

footer li a:hover:not(.active) {
    border-radius: 0.5em;
    background-color: #111;
    color: white;
}

footer ul {
    color: white;
    margin-bottom: 0px;
    padding-left: 40px;
}

.content-box {
    margin-top: 20px;
}

.gaadiexp,
.gaadiexp:after,
.gaadiexp *,
.gaadiexp *:before,
.gaadiexp *:after,
.header-nav *,
.header-nav *:before,
.header-nav *:after {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.gaadiexp {
    position:relative;
    cursor: pointer;
    height: 4.75em;
    margin-bottom: 0;
    margin-left: 0;
    min-width: 4.5em;
    border-radius: 0 0 40px 0;
    padding-right: 20px;
    float: left;
    overflow: hidden;
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000f23 0%, #2b6aaf 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000f23 0%, #2b6aaf 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000f23 0%, #2b6aaf 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#5faf6c', GradientType=0); /* IE6-9 */
}

.gaadiexp:after {
    bottom: 7px;
    color: #FFFFFF;
    content: ''; /*'Menu'*/
    font-size: 13px;
    font-weight: 300;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

/*--------------------------------------
 Creates the look of the gaadiexp icon
 using the inner span and pseudo-elements
--------------------------------------*/

.gaadiexp span,
.gaadiexp span:before,
.gaadiexp span:after {
    background: #FFFFFF;
    border-radius: 0.2em;
    height: 4px;
    left: 10px;
    position: absolute;
    top: 32px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    width: 40px;
}

/* Reset the left and create the pseudo-element */
.gaadiexp span:before,
.gaadiexp span:after {
    content: '';
    left: 0;
}

/* Top bar position */
.gaadiexp span:before {
    top: -8px;
}

/* Bottom bar position */

.gaadiexp span:after {
    top: 8px;
}

/* Get rid of more on action (IE9 or higher) */
.gaadiexp-check:checked + .gaadiexp:after {
    content: '';
}

/* Get rid of the middle bar on action (IE9 or higher) */
.gaadiexp-check:checked + .gaadiexp span {
    height: 0;
    width: 0;

}

/* Moves the top and bottom bars to the middle on action (IE9 or higher) */
.gaadiexp-check:checked + .gaadiexp span:before,
.gaadiexp-check:checked + .gaadiexp span:after {
    top: 6px;
}

/* Rotates the top bar on action with full browser support (IE9 or higher) */
.gaadiexp-check:checked + .gaadiexp span:before {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

/* Rotates the bottom bar on action with full browser support (IE9 or higher) */
.gaadiexp-check:checked + .gaadiexp span:after {
    -webkit-transform: rotate(-225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(-225deg);
}

.gaadiexp-check:checked + .gaadiexp {
    width: 100%;
    border-radius: 0px 0px 6em 0em;
}

.gaadiexp-check:checked + .gaadiexp:after {
    top: 19px;
    bottom: 18px;
    content: 'Menu';
    font-size: 25px;
    padding-left: 0px;
    left:-20px;
}


#mobile-nav {
    left: -9999px;
    position: fixed;
}

#mobile-nav:focus + .gaadiexp,
.gaadiexp:focus,
.gaadiexp:hover {
    background: rgba(0, 136, 204, 0.9);
}


.header-nav ul li a:active,
.header-nav ul li a:focus,
.header-nav ul li a:hover,
#mobile-nav:focus + .gaadiexp,
.gaadiexp:focus,
.gaadiexp:hover {
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000f23 0%, #00adcb 25%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000f23 0%, #00adcb 25%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000f23 0%, #00adcb 25%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#95c996', GradientType=0); /* IE6-9 */
    outline: none;
    font-weight: 600;
    border-bottom: 0.3333em solid #fff;
}


.fixed-nav {
    height: 2em;
    width: 100%;
    left: 0px;
}

.header-nav {
    float: left;
    width: 100%;
    left: 0px;
    font-size:18px;
}

.header-nav ul {
    top:0;
    background: #fff;
    height: calc(100vh - 0px);
    list-style: none;
    margin: 0;
    overflow-y: auto;
    padding: 5.75em 0 0 0;
    position: absolute;
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%);
    -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    width: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.075);
    left: -1px;
    z-index: -1;
    background-color: black;
}


.gaadiexp-check:checked ~ .header-nav ul {
    background-color: black;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    left: -1px;
}

.header-nav ul li {
    margin-top: 0.05em;
    margin-bottom: 0.05em;
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
}

.header-nav ul li a {
    color: cyan;
    text-shadow: 1px 0 #070088;
    display: block;
    float: left;
    font-weight: 400;
    letter-spacing: 0.75px;
    line-height: 24px;

    overflow: hidden;
    padding: 1em 0.5em 0.25em 0em;
    margin: 0 0 0 0;
    position: relative;
    text-decoration: none;
    width: 100%;
    border-bottom: 0.1em solid #006063;
    border-bottom-right-radius: 2em;
}


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 47.5%;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 47.5%;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 10px;
    border: 1px solid cyan;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: cyan;
}
